<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Stupid Coaching</h1>
  <div class="form-group">
  <form action="/answer">
    Ask your coach anything:
    <input type="text" name="question" class="form-control" placeholder="Type your question." style="padding: 15px; margin: 15px; width: 250px;">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
</body>
</html>
